<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            height: 100%;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }

        #graphiql {
            height: 100vh;
        }
    </style>

    <script crossorigin th:src="|${cdnHost}/react@17/umd/react.development.js|"></script>
    <script crossorigin th:src="|${cdnHost}/react-dom@17/umd/react-dom.development.js|"></script>

    <link rel="stylesheet" th:href="|${cdnHost}/graphiql/graphiql.min.css|"/>
</head>
<body>
<div id="graphiql">Loading...</div>
<script th:src="|${cdnHost}/graphiql/graphiql.min.js|" type="application/javascript"></script>

<script th:inline="javascript">
    ReactDOM.render(
        React.createElement(GraphiQL, {
            fetcher: GraphiQL.createFetcher({
                url: '[(${serverPath})]',
            }),
            query: [[${query}]],
            defaultVariableEditorOpen: true,
            headerEditorEnabled: true,
            shouldPersistHeaders: true,
            // variables: '[[${variables}]]',
            variables: JSON.stringify([[${variables}]], undefined, 2),
            // headers: '[[${headers}]]',
            headers: JSON.stringify([[${headers}]], undefined, 2),
        }),
        document.getElementById('graphiql'),
    );
</script>
</body>
</html>