<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GraphiQL</title>
    <style>
        body {
            height: 100%;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }

        #graphiql {
            height: 100vh;
        }
    </style>

    <script crossorigin th:src="|${cdnHost}/react@18/umd/react.production.min.js|"></script>
    <script crossorigin th:src="|${cdnHost}/react-dom@18/umd/react-dom.production.min.js|"></script>

    <script th:src="|${cdnHost}/graphiql/graphiql.min.js|" type="application/javascript"></script>
    <link rel="stylesheet" th:href="|${cdnHost}/graphiql/graphiql.min.css|"/>

    <script th:if="${plugins.contains(T(ru.sadv1r.spring.graphql.editor.graphiql.configuration.GraphiqlProperties.Plugin).EXPLORER)}"
            crossorigin th:src="|${cdnHost}/@graphiql/plugin-explorer/dist/index.umd.js|"></script>
    <link th:if="${plugins.contains(T(ru.sadv1r.spring.graphql.editor.graphiql.configuration.GraphiqlProperties.Plugin).EXPLORER)}"
          rel="stylesheet" th:href="|${cdnHost}/@graphiql/plugin-explorer/dist/style.css|"/>

    <link th:if="${stylePath}" rel="stylesheet" th:href="|${stylePath}|"/>
</head>
<body>
<div id="graphiql">Loading...</div>
<script th:inline="javascript">
    const root = ReactDOM.createRoot(document.getElementById('graphiql'));
    root.render(
        React.createElement(GraphiQL, {
            fetcher: GraphiQL.createFetcher({
                url: '[(${serverPath})]',
            }),
            defaultQuery: [[${defaultQuery}]],
            query: [[${query}]],
            defaultEditorToolsVisibility: [(${defaultEditorToolsVisibility.value})],
            headerEditorEnabled: true,
            shouldPersistHeaders: true,
            variables: JSON.stringify([[${variables}]], undefined, 2),
            headers: JSON.stringify([[${headers}]], undefined, 2),
            plugins: [
                /*[# th:if="${plugins.contains(T(ru.sadv1r.spring.graphql.editor.graphiql.configuration.GraphiqlProperties.Plugin).EXPLORER)}"]*/
                GraphiQLPluginExplorer.explorerPlugin(),
                /*[/]*/
            ],
        }),
    );
</script>
</body>
</html>