<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            height: 100%;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }

        #voyager {
            height: 100vh;
        }
    </style>

    <link
            rel="stylesheet"
            th:href="|${cdnHost}/graphql-voyager/dist/voyager.css|"
    />
    <script th:src="|${cdnHost}/graphql-voyager/dist/voyager.standalone.js|"></script>

    <link th:if="${stylePath}" rel="stylesheet" th:href="|${stylePath}|"/>
</head>
<body>
<div id="voyager">Loading...</div>
<script th:inline="javascript" type="module">
    const { voyagerIntrospectionQuery: query } = GraphQLVoyager;
    const response = await fetch(
        '[(${serverPath})]',
        {
            method: 'post',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ query }),
            credentials: 'omit',
        },
    );
    const introspection = await response.json();

    GraphQLVoyager.renderVoyager(document.getElementById('voyager'), {
        introspection: introspection,
        displayOptions: {
            skipRelay: [[${displayOptions.skipRelay}]],
            skipDeprecated: [[${displayOptions.skipDeprecated}]],
            rootType: [[${displayOptions.rootType}]],
            sortByAlphabet: [[${displayOptions.sortByAlphabet}]],
            showLeafFields: [[${displayOptions.showLeafFields}]],
            hideRoot: [[${displayOptions.hideRoot}]],
        },
        hideDocs: [[${hideDocs}]],
        hideSettings: [[${hideSettings}]],
    });
</script>
</body>
</html>